<div class="col-lg-6">
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <a asp-action="" asp-controller="" class="au-btn au-btn-icon au-btn--blue au-btn--small">
                <i class="zmdi zmdi-plus"></i>Salvar
            </a>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>Módulo</th>
                    <th>Titulo da Nota</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>