@model IEnumerable<ReleasePDVViewModel>
@{
    ViewData["Title"] = "Detalhes da Versão";
}

@foreach (var item in Model)
{
    <div class="card">
        @foreach (var module in item.Modules)
        {

            <div class="card-header">
                <strong style="position: center;">@module.ModuleName (@module.Title)</strong> 
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-primary" style="position: center; float: right; margin: 0 5px">
                        <i class="fa fa-thumbs-up"></i>&nbsp;
                    </button>
                    <button type="button" class="btn btn-danger" style="position: center; float: right; margin: 0 5px">
                        <i class="fa fa-thumbs-down"></i>&nbsp; 
                    </button>
                }
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <label form-control-label">@module.Notes</label>
                </div>
            </div>
        }
    </div>
}
