@{
    ViewData["Title"] = "Home Page";
}

<div class="cardtable col-md-12">
    <div class="card col-md-4">
        <a asp-action="Index" asp-controller="ReleasePowerServer"><img class="card-img-top" src="images/202436423_4240422222705159_4198295018220376641_n.png" alt="Card image cap"></a>        
        <div class="card-body">
            <a asp-action="Index" asp-controller="ReleasePowerServer"><h3  class="card-title mb-3">Notas de Atualizações PowerServer</h3></a>
        </div>        
    </div>
    <div class="card col-md-4">
        <a asp-action="Index" asp-controller="ReleasePDV"><img class="card-img-top" src="images/71722427_2564050833675648_4759675752335540224_n.png" alt="Card image cap"></a>        
        <div class="card-body">
            <a asp-action="Index" asp-controller="ReleasePDV"><h3  class="card-title mb-3">Notas de Atualizações PDV</h3></a>
        </div>        
    </div>
    <div class="card col-md-4">
        <a asp-action="Index" asp-controller="ReleasePowerServer"><img class="card-img-top" src="images/gestao-de-TI.png" alt="Card image cap"></a>        
        <div class="card-body">
            <a asp-action="Index" asp-controller="ReleasePowerServer"><h3  class="card-title mb-3">Manuais</h3></a>
        </div>       
    </div>
</div>