@model ReceiverViewModel

<form>
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group col-2">
            <a asp-action="DeleteReceiver" asp-controller="Email" class="btn btn-danger btn-sm">Excluir</a>
        </div>

    </div>
</form>