@model IEnumerable<FeedbackViewModel>

@{
    int TotalPDV = Model.Where(x => x.FeedbackFrom == FeedbackFrom.PDV).Count();
    int TotalNegativosPDV = Model.Where(x => x.FeedbackPositive == false && x.FeedbackFrom == FeedbackFrom.PDV).Count();
    int TotalPositivosPDV = Model.Where(x => x.FeedbackPositive == true && x.FeedbackFrom == FeedbackFrom.PDV).Count();
}

<div class="row m-t-25">
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                    <div class="text">
                        <h2>@TotalPDV</h2>
                        <span>Total de Feedbacks PDV</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-thumb-up"></i>
                    </div>
                    <div class="text">
                        <h2>@TotalPositivosPDV</h2>
                        <span>Feedbacks Positivos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-thumb-down"></i>
                    </div>
                    <div class="text">
                        <h2>@TotalNegativosPDV</h2>
                        <span>Feedbacks Negativos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>