<div class="row m-t-25">
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>Total de Feedbacks PDV</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-thumb-up"></i>
                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>Feedbacks Positivos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-thumb-down"></i>
                    </div>
                    <div class="text">
                        <h2>10368</h2>
                        <span>Feedback Negativos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>